:root {
  --tertiary-background-color: #202225;
}

.channel-title-container {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-container {
  height: 100px;
  width: 220px;
  position: absolute;
  top: 55px;
  left: 84px;
  overflow: hidden;
}

.channel-title-dropdown {
  border-radius: 2px;
  z-index: 5;
  height: 100%;
  width: 100%;
  position: absolute;
  background: var(--tertiary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  cursor: pointer;
}

.hidden {
  display: none;
}

.channel-title-dropdown li {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 0 10px;
  align-items: center;
  font-size: 1.8em;
}

.channel-title-dropdown li:hover {
  color: white;
}

.dropdown-icon {
  cursor: pointer;
}

.dropdown-icon:hover {
  color: white;
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  animation-duration: 0.2s;
}