/* Color Palette */
:root {
  --app-primary-background-color: #36393f;
  --app-secondary-background-color: #2F3136;
  --app-tertiary-background-color: #202225;
  --font-primary: #FFF;
  --primary-hover-color: #7289da;
  --secondary-hover-color: #43b581;
  /* 
	--font-secondary: #c8c8c9;
	*/
}

/* layout */

.discord-main {
  display: grid;
  grid-template-columns: 70px 1fr;
}

/* NAV BAR */ 

/* section {
  border: 1px solid red;
} */

.discord-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: var(--app-tertiary-background-color);
}

/* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
.discord-nav-bar {
  overflow: scroll;
  overflow-x: hidden;
}

.discord-nav-bar::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.discord-nav-bar li,
.home-icon,
.add-server-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: grey;
  border-radius: 100%;
  margin: 7.5px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.discord-nav-bar li:hover,
.home-icon:hover,
.add-server-icon:hover {
  transition-duration: 0.1s;
  border-radius: 15px;
  background-color: var(--primary-hover-color);
}

/* TODO: NOT IDEAL */
.nav-in-focus {
  border-radius: 15px !important;
  background-color: var(--primary-hover-color) !important;
}

.home-icon,
.add-server-icon {
  min-height: 50px;
  min-width: 50px;
}

.home-icon {
  background-color: #2f3136;
  margin: 10px auto 7.5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-icon i {
  margin: auto;
}

.home-icon-divider {
  min-height: 1px;
  width: 60%;
  background-color: var(--app-primary-background-color);
}

.add-server-icon {
  margin: 0 auto 10px auto;
  font-size: 3em;
  color: var(--secondary-hover-color);
  background-color: #2f3136;
}

.add-server-icon:hover {
  color: var(--font-primary);
  background-color: var(--secondary-hover-color);
}

/* CONTENT STYLING */

.discord-main-content-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr;
}

.title {
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: var(--app-secondary-background-color);
}

.description {
  font-size: 0.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  text-transform: lowercase;
  background-color: var(--app-primary-background-color);
  padding: 0 10px;
}

.left-description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-description i {
  margin-right: 10px;
}

.right-description {
  display: flex;
}

.right-description i {
  margin: auto 10px;
  cursor: pointer;
}

.right-description i:hover {
  color: white;
}

.right-description input {
  margin: auto 0 auto 10px;
}

/* Temporary logout */

.right-description label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}

.right-description label span {
  font-size: 2em;
}

.right-description label i {
  margin-left: 5px;
}

.right-description label:hover {
  color: var(--font-primary);
  cursor: pointer;
}

/* just styling */

.channel-content {
  background-color: var(--app-primary-background-color);
}

/* CHANNELS */

.channels {
  background-color: var(--app-secondary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.1em;
}

.channels ul li {
  margin: 10px 0;
}