:root {
  --user-bar-color: #2A2C31;
  --font-primary: #FFF;
}

/* GENERAL STYLING */

.channels {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50px;
}

.channels-top-info {
  padding: 10px 15px 50px 15px;
  width: auto;
  height: -webkit-fill-available;
}

/* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
.channels-top-info {
  overflow: scroll;
  overflow-x: hidden;
}

/* TODO: Add styled scrollbar */
.channels-top-info::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


/* ICON BAR */

.header-list {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: flex-start;
  align-items: center;
}

/* MESSAGES */

.message-container {
  margin: 20px 0 0 0;
}

.message-container p {
  margin: 0;
  text-transform: uppercase;
}


/* USER INFO BAR */

.user-info-bar {
  width: 250px;
  position: absolute;
  bottom: 0;
  height: 50px;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--user-bar-color);
}

.user-info-bar h5 {
  width: 150px;
  font-size: 16px;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 5px;
}

.nav-icon-container {
  padding: 0 5px;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-icon-container i {
  margin: 0 5px;
}

.nav-icon-container i:hover {
  cursor: pointer;
  color: var(--font-primary);
}