:root {
  --user-bar-color: #2A2C31;
  --font-primary: #FFF;
  --app-primary-background-color: #36393f;
  --app-tertiary-background-color: #202225;
  --search-text-color: #72767D;
}

/* GENERAL STYLING */

.channels {
  display: flex;
  height: calc(100vh - 50px);
  flex-direction: column;
  justify-content: space-between;
}

.channels-top-info {
  padding: 10px 15px 0 15px;
  width: auto;
}

.channels-top-info {
  overflow: hidden;
}

.channels-top-info:hover {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
}

/* Search Bar */

.search-container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.search-container input {
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  background-color: var(--app-tertiary-background-color);
  color: var(--search-text-color);
  outline: none;
  border: none;
  font-size: 16px;
}

/* width */
.channels-top-info::-webkit-scrollbar {
  position: relative;
  width: 10px;
  background: transparent;
}

/* Track */
.channels-top-info::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
.channels-top-info::-webkit-scrollbar-thumb {
  background: var(--app-tertiary-background-color); 
}

/* ICON BAR */

.header-list {
  display: grid;
  grid-template-columns: 50px 150px;
  justify-content: flex-start;
  align-items: center;
}

/* MESSAGES */

.message-container {
  margin: 20px 0 0 0;
}

.message-container p {
  margin: 0;
  text-transform: uppercase;
}

/* USER INFO BAR */

.user-info-bar {
  width: 250px;
  /* position: absolute;
  bottom: 0; */
  min-height: 50px;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--user-bar-color);
}

.user-info-bar h5 {
  width: 150px;
  font-size: 16px;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 5px;
}

.nav-icon-container {
  padding: 0 5px;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-icon-container i {
  margin: 0 5px;
}

.nav-icon-container i:hover {
  cursor: pointer;
  color: var(--font-primary);
}

/* ACTIVITY DISPLAY STYLING */

.activity-display-container {
  display: flex;
  background-color: var(--app-primary-background-color);
  height: calc(100vh - 70px);
  width: auto;
  padding: 20px 20px 0 20px;
}

.activities-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 10px;
  justify-content: center;
  width: 100%;
}

.activities-display-list li {
  border: 2px solid black;
  border-radius: 5px;
  height: 450px;
  cursor: auto;
  background-color: var(--app-tertiary-background-color);
}

.activities-display-list {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

/* width */
.activities-display-list::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

/* Track */
.activities-display-list::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
.activities-display-list::-webkit-scrollbar-thumb {
  background: var(--app-tertiary-background-color); 
}

/* Activity display content */

.activity-video-content {
  width: 100%;
  height: 50%;
}

.activity-photo-content {
  width: 100%;
  height: 50%;
  overflow: hidden;

}

.activity-content-text {
  font-size: 18px;
  padding: 10px;
}
