/* COLOR PALETTE */

:root {
  --font-primary: #FFF;
  --form-text-color: #5d6168;
  --form-background-color: #36393f;
  --input-border: #212327;
  --input-border-hover: black;
  --input-background: #303338;
  --button-hover: #667bc4;
  --link-color: #7289DA;
  --error-color: #d84545;
}

/* LOGIN */

.login-body {
  height: 100vh;
}

.login-main {
  height: 100%;
  background-image: url("https://cdn.discordapp.com/attachments/560127966688837672/573313318110887937/login-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-user-select: none;
}

.login-main a > img {
  width: 150px;
  height: auto;
  padding: 50px 0 25px 50px;
}

.login-form {
  padding: 45px;
  width: 375px;
  margin: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 15px;
  background: var(--form-background-color);
  border-radius: 5px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
}

.login-form label input {
  margin-top: 10px;
  height: 35px;
  width: 363px;
  border-radius: 5px;
  border: 1px solid var(--input-border);
  background: var(--input-background);
  color: var(--font-primary);
  padding: 0 5px;
}

.login-form label input:hover {
  border-color: var(--input-border-hover);
}

.login-form label input:focus {
  border-color: var(--button-hover);
  outline: none;
}

.login-form h2, h3, button {
  margin: auto;
}

.login-form h3, p {
  color: var(--form-text-color);
}

.login-form h2 {
  font-size: 1.75em;
}

.login-form h3 {
  font-size: 1.25em;
}

.login-form button {
  width: 100%;
  text-transform: capitalize;
}

.login-form button:hover {
  background-color: var(--button-hover);
}

.login-form p {
  margin: 0;
}

.login-form a, h4 {
  color: var(--link-color);
  text-decoration: none;
}

.login-form h4:hover {
  cursor: pointer;
}

.other-form-container {
  display: flex;
  align-items: flex-end;
}

/* ERROR-ED OUT FORM STYLING */

.error-form label {
  color: var(--error-color);
}

.error-form label input {
  border-color: var(--error-color);
}

.error-form label input:hover {
  border-color: var(--error-color);
}

.error-form label input:focus {
  border-color: var(--error-color);
}

.error-form label h5 {
  font-style: italic;
  text-transform: none;
  font-size: 13px;
}

.error-form label div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

/* Playing around with animations */
/* https://daneden.github.io/animate.css/ */

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  animation-duration: 0.2s;
}