:root {
  --modal-header-color: #7289da;
  --modal-join-color: #3ca374;
}

.modal-background {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  height: 100vh;
  width: 100vw;
}

.modal-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 550px;
  height: 400px;
}

.modal-child-invite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 310px;
  height: 280px;
}

.modal-form-index {
  overflow: hidden;
  border-radius: 5px;
  width: 550px;
  height: 320px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  text-align: center;
}

.modal-form-index h1 {
  color: var(--modal-header-color);
  margin-bottom: 50px;
  text-transform: uppercase;
}

.modal-form-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 300px;
}

.modal-form-container label {
  color: black;
  display: flex;
  align-items: center;
  height: 100%;
}

.modal-link-container { 
  border-radius: 5px;
  border: 1px solid grey;
  color: black;
  height: calc(100% - 20px);
  width: 40%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-link-container p {
  color: grey;
}

.modal-link-container button {
  width: 80%;
  margin: 0 auto;
}

.modal-link-container h2, h6 {
  color: black;
}

.join h2 {
  color: var(--modal-join-color);
}

.join button {
  background-color: var(--modal-join-color);
}

.join button:hover {
  background-color: #36956a;
}

.create button:hover {
  background-color: #5f74bb;
}

.modal-form-landing,
.modal-form-create,
.modal-form-join {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.back-nav {
  width: 75px;
  color: grey;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.back-nav:hover {
  cursor: pointer;
  color: black;
}

.modal-form-input {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.modal-form-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-form-nav button {
  width: 150px;
  margin: 0;
}

.modal-form-index form {
  height: 132px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MODAL JOIN CSS */

.modal-form-join h1 {
  color: var(--modal-join-color);
}

.modal-form-join button {
  background-color: var(--modal-join-color);
}

.modal-form-join h1 {
  margin-bottom: 25px;
}

.modal-form-join button:hover {
  background-color: #36956a;
}

/* MODAL CREATE CSS */

.modal-form-create button:hover {
  background-color: #5f74bb;
}

/* MODAL INVITE CSS */

.invite-modal-container {
  border-radius: 5px;
  background-color: #36393f;
  width: 300px;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.invite-link-container {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: #202225;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invite-text {
  background: transparent;
  /* TODO: this forces size of parent to be larger, not the best way */
  width: 235px;
  border: none;
  /* outline: none; */
  font-size: 11px;
  padding: 5px;
  color: #72767d;
}

.invite-text:focus {
  outline: none;
}

.invite-link-container button {
  height: calc(100% - 10px);
  width: 40px;
  margin: 5px;
  text-align: center;
  padding: 0;
}

/* MODAL REMOVE ANIMATIONS */

.remove-modal-container {
  border-radius: 5px;
  background-color: #36393f;
  margin: auto;
  width: 300px;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.remove-confirmation-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MODAL ANIMATIONS */

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation-duration: 0.2s;
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  animation-duration: 0.2s;
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  animation-duration: 0.2s;
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  animation-duration: 0.2s;
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
  animation-duration: 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-duration: 0.2s;
}
