/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM */ 
/*Color Palette*/
:root {
	--background-primary: #26262b;
	--font-primary: #FFF;
	--font-secondary: #c8c8c9;
	--button-color: #7289da;
	--font-family-primary: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
	background-color: var(--background-primary);
	color: var(--font-secondary);
	font-size: 13px;
	margin: auto;
	font-family: var(--font-family-primary);
}  
  
h1 {
	font-size: 2.2em;
	font-weight: 700;
}  
  
h2 {
	font-size: 1.8em;
	font-weight: 100;
	color: var(--font-primary);
}
  
p {
	font-size: 15px;
	font-weight: lighter;
	margin: 30px auto;
	color: var(--font-secondary);
}  
  
li {
	cursor: pointer;
}  
  
button {
	width: 250px;
	height: 45px;
	font-size: 1.05em;
	border-radius: 4px;
	background-color: var(--button-color);
	border: none;
	color: var(--font-primary);
	cursor: pointer;
	position: relative;
}